* {
    font: "Cascadia Code 18";
}

@import "~/.cache/wal/colors-rofi-light"

listview {
    margin: 25px 0 0 0;
    lines: 5;
}

element-icon {
    size: 2em;
}

element-text {
    vertical-align: 0.5;
}

element selected,
element-text selected,
element-icon selected  {
    background-color: @active-background;
    border-color: @active-background;
    border-radius: 15px;
}